*{
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.video-background {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
  }
  
#background-video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover; 
z-index: -1; 
}

header{
    position: relative;
    z-index: 1; 
    text-align: center;
    color: white; 
    padding: 20px;
    height: 200px;
    padding: 20px 0;
}

h1{
    padding-top: 50px;
    padding-left: 30px;
    font-size: 50px;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: auto;
}

h2{
    font-weight: 700;
    font-size: 40px;
    font-style: italic;
    text-align: center;
}

h3{
    text-align: center;
}

a{
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #a8dadc;
    align-items: center;
}

.navigator{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.product-card-info, .product-card-cart {
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 15px;
    position: absolute;
    padding: 10px;
    bottom: 10px;
    z-index: 10;

}

.product-card-info {
    background-image: url('./imagenes/Info-Button.svg');
    left: 10px;
}

.product-card-cart {
    background-image: url('./imagenes/plus.jpg');
    right: 10px;
}

.product-card-description {
    position: absolute;
    top: 55%; /* Centrado verticalmente dentro de la tarjeta */
    left: 50%; /* Centrado horizontalmente dentro de la tarjeta */
    transform: translate(-50%, -50%); /* Asegura un centrado perfecto */
    padding: 5px 10px; /* Espaciado interno */
    background-color: rgba(216, 216, 216, 0.8); /* Fondo semi-transparente */
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Shadow for a popup effect */
    font-size: 12px; /* Adjust font size */
    z-index: 5; /* Ensure it appears above other content */
    transition: opacity 0.3s ease-in-out; /* Smooth appearance */
}

.review-list > li{
    margin: 4px;
    border: 2px solid rgba(0,0,0,0.4);
    background-color: #D8E2DC;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    padding: 4px;
}

#review{
    background-color: #e9edc9;
}

#productos{
    background-color: #fefae0;
}

.review-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    list-style: none;
    margin: 10px;
    justify-content: space-around;
}

.product-card{
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    height: 180px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.product-title{
    background-color: #D8E2DC;
    padding: 0px;
    margin: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 20px;
    text-align: center;
}
.product-card-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 32px;
    align-items: center;
    margin: 10px;
}

.product-card > img, .product-card-description {
    width: 160px;
    height: 160px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#contacto{
    background-color: #faedcd;
}

section{
    padding: 20px 0;
}

footer > ul{
    background-color: #d4a373;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px 0;
}

.footer-info{
    padding: 5px 20px;
}

#form-submit{
    background-color: #D8E2DC;
}

input, textarea, label{
    margin: 0 auto;
}

#shopping-cart {
    width: 300px;
    background-color: #e9edc9;
    padding: 0px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transition: transform 0.3s ease;
    transform: translateX(100%); /* Oculto por defecto */
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1000;
}

#shopping-cart.visible {
    transform: translateX(0); /* Mostrar carrito */
}

#shopping-cart h2 {
    background-color: #a8dadc;
    margin: 0px;
    padding-top: 20px;
    height: 80px;
}

  #open-cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #e9edc9;
    background-size: cover;
    height: 50px;
    width: 50px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    background-image: url('./imagenes/cart_icon.png');
  }
  
  #clear-cart {
    position: fixed;
    background-color: #e9edc9;
    background-size: cover;
    height: 50px;
    width: 50px;
    bottom: 20px;
    left: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: url('./imagenes/clear_icon.png');
  }
  #cart-items {
    list-style: none;
    padding: 20px;
    background-color: #fefae0;
  }
  
  #cart-items li {
    padding: 10px 0;
    border-bottom: 1px solid #111111;

  }
  

@media only screen and (max-width: 600px) {

    #mensaje {    width: 300px;}
    #nombre, #email {    width: 150px;}
    #logo {    width: 100px; height: 50px;}
    .navigator{font-size: 12px; gap: 8px;}
    nav{padding: 10px 20px;}
}
@media only screen and (min-width: 600px) {

    #mensaje {    width: 400px;}
    #nombre, #email {    width: 200px;}
    #logo {    width: 120px; height: 60px;}
    .navigator{font-size: 16px; gap: 12px;}
    nav{padding: 10px 30px;}
}

@media only screen and (min-width: 768px) {

    #mensaje {    width: 600px;}
    #nombre, #email {    width: 300px;}
    #logo {    width: 150px; height: 75px;}
    .navigator{font-size: 20px; gap: 16px;}
    nav{padding: 10px 40px;}
}

@media only screen and (min-width: 992px) {

    #mensaje {    width: 800px;}
    #nombre, #email {    width: 400px;}
    #logo {    width: 180px; height: 90px;}
    .navigator{font-size: 25px; gap: 20px;}
    nav{padding: 10px 50px;}
}

@media only screen and (min-width: 1200px) {

    #mensaje {    width: 1000px;}
    #nombre, #email {    width: 500px;}
    #logo {    width: 200px; height: 100px;}
    .navigator{font-size: 25px; gap: 20px;}
    nav{padding: 10px 60px;}
        
}


